<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- brand -->
  <a class="navbar-brand" href="/">ExpressCamp</a>
  <!-- collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"
      >
        <a class="nav-link" href="/campgrounds/"
          >Campgrounds <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <!-- login -->
    <!-- ml-auto left-aligns navbar -->
    <ul class="navbar-nav  ml-auto pr-3">
      <% if(!currentUser) { %>
      <li
        class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"
      >
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li
        class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"
      >
        <a class="nav-link" href="/auth/register">Sign up</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href=""><%= currentUser.username %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>

<div class="container">
  <!--   error = [] is not falsy, but truthy, thats why we need length check
 -->
  <% if(error && error.length > 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %> <% if(success && success.length > 0) { %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
</div>
