<% include ../partials/header %>

<div class="container">
    <div class="my-3">
        <a class="btn btn-default text-primary" href="<%= dish.url %>">
            <i class="fa fa-arrow-left"></i>
            Go back
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">REVIEWS: <%= dish.name %></h1>
            <div>
                <div>
                    <div class="text-center">
                        <% if (dish.avgScore === 0) { %>
                        <h5>
                            <em>No reviews yet.</em>
                        </h5>
                        <% } else { %>
                        <p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star <% if (dish.avgScore > 1.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (dish.avgScore > 2.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (dish.avgScore > 3.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (dish.avgScore > 4.5) { %> checked <% } %>"></span>
                            <em>&nbsp;(total reviews: <%= dish.reviews.length %>)</em>
                        </p>
                        <p>
                            Current dish rating: <strong class="checked"><%= dish.avgScore.toFixed(2) %></strong>
                        </p>
                        <div class="mb-3">
                            <a class="btn btn-sm btn-success my-1  

                            <!-- disable Rate review button if user has already written a review -->
                            <% if (currentUser && dish.reviews.some( 
                                  function (review) { 
                                      return review.author.id.equals( currentUser._id );
                                  }
                            )){ %> 
                                disabled                             
                            <% } %>

                            " href="<%= dish.url %>/reviews/new">
                                Rate the dish</a>
                        </div>
                    </div>
                    <hr style="margin-top: 0;">
                    <% dish.reviews.forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.score) %>
                            <%- '<span class="fa fa-star"></span>'.repeat(5 - review.score) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span class="text-muted">
                                <small><%= review.updatedAt.toDateString() %></small>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning"
                                href="<%= dish.url %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form class="d-inline ml-1" action="<%= dish.url %>/reviews/<%=review._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <% } %>


                    <div>
                        <a class="btn btn-default text-primary" href="<%= dish.url %>"><i class="fa fa-arrow-left"></i>
                            Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Review section-->
</div>

<% include ../partials/footer %>