<% include partials/header.ejs %>

<div class="container">
  <figure class="figure">
    <h1><%= camp.name %></h1>
    <img class="img-fluid" src="<%= camp.image %>" />
    <p><%= camp.description %></p>

    <% camp.comments.forEach((comment)=>{ %>
    <p>
      <strong><%= camp.comments[0].author %></strong> -
      <%=camp.comments[0].text%>
    </p>
    <% }) %>
  </figure>
</div>

<% include partials/footer.ejs %>
