<% include ../partials/header.ejs %>

<h1 class="text-center my-3">Changing <%= dish.name %></h1>

<div class="row">
  <div class="container text-center col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
    <h5>THE FOOD PLACE</h5>
    <form action="/dishes/<%= dish.id%>/update?_method=PUT" method="post">
      <div class="form-group">
        <label class="text-left" for="foodplaces-select">If the food place is not on the list below, please first add it
          <a href="/foodplaces/new">here</a>
        </label>
        <select id="foodplaces-select" class="form-control" type="text" name="dish[foodplace]">
          <% foodplaces.forEach((foodplace) =>{ %>
          <option <%= (foodplace.id === dish.foodplace.id ? 'selected' : "") %> value="<%= foodplace.id %>">
            <%= foodplace.name %>
            - ul. <%= foodplace.address %>, <%= foodplace.city %>
          </option>
          <% }) %>
        </select>
      </div>

      <h5>THE DISH</h5>
      <div class="form-group">
        <input class="form-control" type="text" name="dish[name]" value="<%= dish.name %>" required />
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="dish[price]" value="<%= dish.price %>" min="0.01" step="0.01" />
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="dish[image]" value="<%= dish.image %>" />
      </div>
      <div class="form-group">
        <textarea class="form-control" name="dish[description]" rows="8"><%= dish.description %>
        </textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block w-50 mx-auto" type="submit">
          Submit changes
        </button>
      </div>
    </form>
    <div class="my-3">
      <a class="btn btn-default text-primary" href="/dishes/<%= dish.id %>">
        <i class="fa fa-arrow-left"></i>
        Go back
      </a>
    </div>
  </div>
</div>
<% include ../partials/footer.ejs %>