<% include ../partials/header.ejs %>

<h1 class="mt-3 mb-5 text-center">Edit the dish</h1>

<div class="container text-center col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
  <form
    action="/dishes/<%= dish.id%>/update?_method=PUT"
    method="post"
  >
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="dish[name]"
        value="<%= dish.name%>"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="number"
        name="dish[price]"
        value="<%= dish.price%>"
        min="0.01"
        step="0.01"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="dish[image]"
        value="<%= dish.image%>"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        name="dish[description]"
        value="<%= dish.description%>"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block w-50 mx-auto" type="submit">
        Submit changes
      </button>
    </div>
  </form>
</div>

<% include ../partials/footer.ejs %>
