<% include ../partials/header.ejs %>

<div class="container">
  <% include ../partials/jumbotron.ejs %>
  <div class="row">
    <div class="card-deck">
      <% dishes.forEach((dish) =>{ %>
      <div class="col-md-6 col-xl-4 mb-3">
        <div class="card p-1 dish-card">
          <a class="btn btn-outline-info btn-sm" href="<%= dish.url %>">
            <img src="<%= dish.image %>" class="card-img-top" alt="..." /></a>
          <div class="card-body">
            <div class="inner-dish-card d-flex flex-column justify-content-between">
              <div>
                <h5 class="card-title font-weight-bold">
                  <%= (dish.name).substring(0, allowedDishNameLength) %>
                </h5>
                <p class="text-muted text-uppercase small mb-1">
                  <b><%= dish.foodplace ? dish.foodplace.name : "" %></b>
                </p>

                <% if (dish.rating === 0) { %>
                <em>No reviews yet.</em>
                <% } else { %>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star <% if (dish.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (dish.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (dish.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (dish.rating > 4.5) { %> checked <% } %>"></span>
                <% } %>

              </div>
              <div class="dish-description-button d-flex flex-column justify-content-between">
                <div>
                  <p style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word;">
                    <% if(dish.description.trim() === "") { %>
                    &nbsp
                    <% } else {%>
                    <%=  (dish.description.trim()).substring(0, allowedIntroLength) %>...
                    <% } %>
                  </p>
                </div>
                <div class="btn-details">
                  <a class="btn btn-outline-info btn-sm" href="<%= dish.url %>">Details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted text-red"><span class="float-left">From
                <%= dish.formattedCreatedAt %></span>
              <span class="float-right">Last comment:
                <%= moment(dish.latestCommentAt).fromNow() === "Invalid date" ? "No comments yet" :  
                moment(dish.latestCommentAt).fromNow() %>
              </span>
            </small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</div>
<!-- end page container -->