<% include ../partials/header.ejs %>

<h1 class="text-center my-3">Add a dish</h1>

<div class="row">
  <div class="container text-center col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
    <h5>THE FOOD PLACE</h5>
    <form action="/dishes" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="text-left" for="foodplaces-select">If the food place is not on the list below, please first add it
          <a href="/foodplaces/new">here</a>
        </label>
        <select id="foodplaces-select" class="form-control" type="text" name="foodplaceId" required>
          <option value="">I bought the dish at ...</option>
          <% foodplaces.forEach((foodplace) =>{ %>
          <option value="<%= foodplace.id %>">
            "<%= foodplace.name %>" - ul. <%= foodplace.address %>,
            <%= foodplace.city %>
          </option>
          <% }) %>
        </select>
      </div>
      <h5>THE DISH</h5>

      <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="name of the dish, e.g. spaghetti bolognese"
          required />
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01" required />
      </div>
      <div class="form-group d-flex justify-content-start">
        <label class="ml-3 mr-3 mt-1 text-muted" for="image">dish image</label>
        <input  type="file" id="image" name="image" accept="image/*" required>
      </div>
      <hr class="text-muted">
      <div id="star-rating" class="form-group star-rating">
                    <div class="mx-auto" style="width: 200px">
                        <div class="text-left"><label for="rating">Dish rating:</label></div>
                        <fieldset class="form-group text-left" id="rating">
                            <div>
                                <input type="radio" id="first-rate5" name="score" value="5"  />
                                <label for="first-rate5" title="5 stars - Amazing">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="first-rate4" name="score" value="4" />
                                <label for="first-rate4" title="4 stars - Very good">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="first-rate3" name="score" value="3" checked/>
                                <label for="first-rate3" title="3 stars - Average">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="first-rate2" name="score" value="2" />
                                <label for="first-rate2" title="2 stars - Not good">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="first-rate1" name="score" value="1" />
                                <label for="first-rate1" title="1 star - Terrible">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
      <div class="form-group">
        <textarea class="form-control" type="text" name="description" placeholder="comment" rows="6"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block w-50 mx-auto" type="submit">
          Add dish
        </button>
      </div>
    </form>
  </div>
</div>
<% include ../partials/footer.ejs %>