<% include ../partials/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-3 bg-light">
      <p class="lead">Uncantare</p>
      <ul class="list-group">
        <li class="list-group-item active">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div> <!-- end col 3-->

    <div class="col-md-9 ">
      <!--Dish section-->
      <section id="dish" class="card">
        <div class="card-body">
          <img class="card-img img-fluid mb-3" src="<%= dish.image %>" />
          <div class="px-4">
            <div class="float-none"></div>
            <div class="float-left  font-weight-bold h4">
              <a href="#">
                <%= (dish.name).substring(0, allowedDishNameLength) %></a>
            </div>
            <div class="float-right text-muted font-weight-bold h4">
              <%= dish.price %> zł
            </div>
            <br />
            <p class="float-none"></p>

            <div class="text-muted">
              <p>
                <small>
                  <b><%= dish.foodplace.name %></b> <%= dish.foodplace.address %>,
                  <%= dish.foodplace.city %>
                </small>
              </p>
            </div>
            <% if (dish.rating === 0) { %>
            <p>
              <em>No reviews yet.</em>
            </p>
            <% } else { %>
            <p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star <% if (dish.rating > 1.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (dish.rating > 2.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (dish.rating > 3.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (dish.rating > 4.5) { %> checked <% } %>"></span>
              &nbsp;&nbsp;
              <em><strong><%= dish.rating.toFixed(2) %></strong></em>
              <em>&nbsp;(total reviews: <%= dish.reviews.length %>)</em>
            </p>
            <% }  %>

            <div class="card-text mb-2">
              <%= dish.description %>
            </div>
            <div class="card-text mb-3">
              <em>Dish submitted by <%= dish.author.username %>,
                <%= moment(dish.createdAt).format("DD MMM YYYY") %>
              </em>
            </div>
            <% if (currentUser && dish.author.id.equals(currentUser.id)) { %>
            <a class="btn btn-sm btn-warning" href="<%= dish.url %>/edit">
              Edit
            </a>
            <form class="d-inline ml-1" action="<%= dish.url %>?_method=delete" method="post">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
      </section>

      <!-- Review & comment buttons -->
      <section id="buttons" class="card bg-light">
        <div class="card-body  pt-3 px-5">
          <!--Review section-->
          <section id="review">

            <% if (dish.rating === 0) { %>

            <% } else { %>

            <h5 class="text-center">Latest review</h5>

            <hr style="margin-top: 0;">
            <% dish.reviews.slice(0, 5).forEach(function(review){ %>
            <div class="row">
              <div class="col-md-3">
                <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                <div><strong><%= review.author.username %></strong></div>
                <span class="text-muted"><%= moment(review.updatedAt).fromNow() %></span>
              </div>
              <div class="col-md-9">
                <p style="text-align: justify; word-wrap: break-word;">
                  <%= review.text %>
                </p>
                <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-sm btn-warning"
                  href="/dishes/<%=dish._id %>/reviews/<%=review._id %>/edit">Edit</a>

                <form class="d-inline ml-1" action="/dishes/<%=dish._id %>/reviews/<%=review._id %>?_method=DELETE"
                  method="POST">
                  <button class="btn btn-sm btn-danger">Delete</button>
                </form>

                <% } %>
              </div>
            </div>
            <hr>
            <% }); %>
            <div style="margin-bottom: 10px;">
              <h6><a href="/dishes/<%= dish._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See
                  all reviews</a></h6>
            </div>
            <% } %>
            <div>
              <a class="btn btn-sm btn-success my-1 <% if (currentUser && dish.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                href="/dishes/<%= dish._id %>/reviews/new">
                Rate &amp; review</a>
              <a href="<%= dish.url %>/comments/new" class="btn btn-sm btn-success ml-1">Leave a comment</a>
            </div>
          </section>

          <div id="comment-btn" class="mb-5">

          </div>
        </div>
      </section>

      <!--Comments section-->
      <section id="comments" class="card bg-light">

        <div class="card-body  pt-3 px-5">
          <h5 class="text-center">Comments</h5>
          <% let comments = dish.comments;
           for(let i = comments.length - 1; i >= 0; i--){
             let comment = comments[i]; %>
          <div class="row pt-2">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="float-right text-muted">
                <%= moment(comment.createdAt).fromNow() %>
              </span>
              <p><%= comment.text %></p>
            </div>

            <% if (currentUser && comment.author.id.equals(currentUser.id)) { %>
            <div>
              <a class="btn btn-sm btn-warning ml-3" href="<%= dish.url %>/comments/<%= comment.id%>/edit">
                Edit
              </a>
              <form class="d-inline ml-1 " action="<%= dish.url %>/comments/<%= comment.id%>?_method=delete"
                method="post">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
            <% } %>

          </div>
          <% } %>
        </div>
      </section>
    </div>
    <!--end col-9-->
  </div>
  <!--end row-->
</div>

<div class="container">
  <% include ../partials/footer.ejs %>
</div>