<% include ../partials/header.ejs %>

<h1 class="text-center my-3">Changing the food place</h1>

<div class="container text-center col-9 col-sm-8 col-md-6 col-lg-5 col-xl-4">
  <form action="/foodplaces/<%= foodplace.id%>?_method=PUT" method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="name" value="<%= foodplace.name %>" required />
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="address" value="<%= foodplace.address %>" required />
    </div>
    <div class="form-group">
      <select id="city" class="form-control" type="text" name="city" required>
        <option selected value="Kraków">Kraków</option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" value="<%= foodplace.image %>" name="image" />
    </div>
    <label for="description">Description:</label>
    <div class="form-group">
      <textarea class="form-control" type="text" name="description" rows="7"><%= foodplace.description %></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="notes" placeholder="Want to comment upon this update?" rows="7"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block w-50 mx-auto" type="submit">
        Submit
      </button>
    </div>
  </form>
  <div class="my-3">
    <a class="btn btn-default text-primary" href="/foodplaces %>">
      <i class="fa fa-arrow-left"></i>
      Go back
    </a>
  </div>
</div>

<% include ../partials/footer.ejs %>