<% include ../partials/header.ejs %>

<div class="container">
  <% include ../partials/jumbotron.ejs %>

  <ul class="list-group">
    <% foodplaces.forEach((foodplace) =>{ %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="">
        <a class="btn btn-sm btn-warning mr-3" href="/foodplaces/<%= foodplace.id %>/edit">Suggest update</a>
        <form class="d-inline mr-3" action="/foodplaces/<%= foodplace.id %>?_method=delete" method="post">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <strong class="text-left"><%= foodplace.name %></strong>
        <span class="card-text">
          <%= foodplace.address %>, <%= foodplace.city %>
        </span>
      </div>
      <div>
        <% let num = Math.floor((Math.random() * 20) + 1);
        let plural = (num === 1) ? " dish" : " dishes" %>
        <span class="badge badge-info badge-pill">
          <%= num %>
        </span>
        <%= plural %>
      </div>
    </li>
    <% }) %>
  </ul>

  <% include ../partials/footer.ejs %>
</div>
<!-- end page container -->