<% include ../partials/header.ejs %>

<div class="container">
  <% include ../partials/jumbotron.ejs %>
  <div class="row">
    <div class="card-deck">
      <% foodplaces.forEach((foodplace) =>{ %>
      <div class="col-md-6 col-xl-4 mb-3">
        <div class="card p-1">
          <!--           <img src="<%= foodplace.image %>" class="card-img-top" alt="..." />
 -->
          <div class="card-body">
            <h5 class="card-text"><%= foodplace.name %></h5>
            <p class="card-text">
              <%= foodplace.address %>, <%= foodplace.city %>
            </p>
            <a
              class="btn btn-outline-info btn-sm"
              href="/foodplaces/<%= foodplace.id %>/edit"
              >Suggest update</a
            >
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</div>
<!-- end page container -->
