<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-3 bg-light">
            <p class="lead">Uncantare</p>
            <ul class="list-group">
                <li class="list-group-item active">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <div id="map"></div>
            </ul>
        </div>
        <div class="col-md-9 ">

            <div class="card">
                <div class="card-body">
                    <img class="card-img img-fluid mb-3" src="<%= foodplace.image %>" />
                    <div class="px-4">
                        <div class="float-none"></div>
                        <div class="float-left  font-weight-bold h4">
                            <a href="#">
                                <%= (foodplace.name).substring(0, 100) %></a>
                        </div>

                        <br />
                        <p class="float-none"></p>

                        <div class="text-muted">
                            <p>
                                <small>
                                    <b><%= foodplace.name %></b>&nbsp&nbsp&nbsp <%= foodplace.longAddress %>
                                </small>
                            </p>
                        </div>

                        <div class="card-text mb-2">
                            <%= foodplace.description %>
                        </div>
                        <div class="card-text mb-3">
                            <em>Submitted by <%= foodplace.author.username %>
                            </em>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<% include ../partials/google-maps-scripts.ejs %>

<script type="module">
    import { createMapWithUi, createMarker, addMarkerToMap } from '/javascripts/googlemaps.js';

    const mapZoom = 15;
    const markerIcon = '/images/redfood.svg';
    const foodplaceLocation = { lat: '<%= foodplace.lat %>', lng: '<%= foodplace.lng %>' };
    const mapCenter = foodplaceLocation;
    let marker = createMarker(foodplaceLocation, markerIcon, '<%= foodplace.address %>');
    createMapWithUi('<%= process.env.GOOGLE_MAPS_APIKEY %>', mapZoom, mapCenter);

    window.onload = function () {
        addMarkerToMap(marker);
    }
</script>

<div class="container">
    <% include ../partials/footer.ejs %>
</div>